In [1]:
# import library

import pandas as pd

In [7]:
# to get dataframe

df=pd.read_excel(r'D:\MyWorks\DataForProject\Data For RegEx\Data for Project4.xlsx', header=None,  names=['text'])

df

                                    text
0               Amber (แอมเบอร์) = อำพัน
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง
2            Crystal (คริสทัล) = คริสตัล
3               Diamond (ไดมอนด์) = เพชร
4          Emerald (เอมเมอเริลด์) = มรกต
5               Garnet (การ์เนท) = โกเมน
6                   Gold (โกลด์) = ทองคำ
7                       Jade (เจด) = หยก
8                        Jet (เจท) = นิล
9                  Opal (โอเพิล) = โอปอล
10               Pearl (เพิร์ล) = ไข่มุก
11        Platinum (แพลทินัม) = ทองคำขาว
12                  Ruby (รูบิ) = ทับทิม
13          Sapphire (แซพไฟเออะ) = ไพลิน
14              Silver (ซิลเวอร์) = เงิน
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์
16               Zircon (เซอคอน) = เพทาย

In [11]:
# first method - by indentifying all Thai character 'ก-๙'

dt = df['text'].str.extract(r'(\w+)\s+\(([ก-๙]+)\)\s+\=\s+([ก-๙]+)')
dt.columns=['english','pronounce','thai']

dt

      english     pronounce         thai
0       Amber      แอมเบอร์        อำพัน
1    Amethyst    แอมมิธิสท์   พลอยสีม่วง
2     Crystal       คริสทัล      คริสตัล
3     Diamond       ไดมอนด์         เพชร
4     Emerald  เอมเมอเริลด์         มรกต
5      Garnet       การ์เนท        โกเมน
6        Gold         โกลด์        ทองคำ
7        Jade           เจด          หยก
8         Jet           เจท          นิล
9        Opal        โอเพิล        โอปอล
10      Pearl        เพิร์ล       ไข่มุก
11   Platinum      แพลทินัม     ทองคำขาว
12       Ruby          รูบิ       ทับทิม
13   Sapphire     แซพไฟเออะ        ไพลิน
14     Silver      ซิลเวอร์         เงิน
15  Turquoise    เทอร์ควอยซ  เทอร์ควอยซ์
16     Zircon        เซอคอน        เพทาย

In [12]:
# second method - by specifying a non-numeric characters

dt = df['text'].str.extract(r'(\w+)\s+\((\D+)\)\s+\=\s+(\D+)')
dt.columns=['english','pronounce','thai']

dt

      english     pronounce         thai
0       Amber      แอมเบอร์        อำพัน
1    Amethyst    แอมมิธิสท์   พลอยสีม่วง
2     Crystal       คริสทัล      คริสตัล
3     Diamond       ไดมอนด์         เพชร
4     Emerald  เอมเมอเริลด์         มรกต
5      Garnet       การ์เนท        โกเมน
6        Gold         โกลด์        ทองคำ
7        Jade           เจด          หยก
8         Jet           เจท          นิล
9        Opal        โอเพิล        โอปอล
10      Pearl        เพิร์ล       ไข่มุก
11   Platinum      แพลทินัม     ทองคำขาว
12       Ruby          รูบิ       ทับทิม
13   Sapphire     แซพไฟเออะ        ไพลิน
14     Silver      ซิลเวอร์         เงิน
15  Turquoise    เทอร์ควอยซ  เทอร์ควอยซ์
16     Zircon        เซอคอน        เพทาย